.ticket-status {
    -fx-background-radius: 5px;
    -fx-text-fill: black;
    -fx-padding: 7;
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 12;
}

.ticket-title {
    -fx-font-family: "JetBrains Mono";
    -fx-font-size: 13;
}

.ticket-date {
    -fx-fill: gray;
    -fx-font-size: 10;
    -fx-font-family: "JetBrains Mono";
}

.delete-button {
    -fx-background-color: red;
    -fx-font-family: "JetBrains Mono";
    -fx-font-weight: bold;
    -fx-padding: 7;
}

.list-cell.empty {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.list-cell.custom-list-cell {
    -fx-padding: 8;
}

.list-cell.custom-list-cell:selected:even {
    -fx-background-color: transparent;
}

.list-cell.custom-list-cell:selected:odd {
    -fx-background-color: #f9f9f9;
}

.list-cell.custom-list-cell:hover {
    -fx-cursor: hand;
}